body{
     background-color: rgb(0, 255, 72);
     background-image: url(Abes.jpg);
     margin:0;
     padding:0;
     background-repeat: no-repeat;
     background-size: cover;
 }
h1{
    color: rgb(0, 0, 0);
}
