#a{
    margin-left: 10px;
    margin-right: 10px;
    background-color: gray;
    padding-top: 2px;
    padding-bottom:2px;
}
#b{
    font-size:20px;
    text-align: center;
    color: black;
}
#c .d{
    display:inline-block;
    width:fit-content;
    margin:8px;
    padding:4px 2px;
    background-color: aqua;
}

#e .f{
    display:inline-block;
    width:fit-content;
    padding:4px 2px;
    margin-left:8px;
    background-color:lightgreen;
}
a{
    color:red;
}

