
.title {
    text-align: center;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.card {
    width: 220px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.profile-img {
    width: 70px;
    height: 70px;
    background-color: #2196F3;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
