body {
    font-family: Arial;
    background-color: #4c4040;
    margin: 0;
    padding: 10px;
}

.title {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.product-box {
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin:auto;
}

.product-img {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
}

.product-name {
    margin: 10px 0 5px 0;
}

.product-desc {
    font-size: 14px;
    color: #444;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
}
